*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}
.parent{
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
	gap: 16px;
	flex-wrap: wrap;
}

.child__header{
	display: flex;
	align-items: center;
	gap: 32px;
}

.image__wrapper{
	padding: 5px;
	border: 1px dashed orange;
	border-radius: 50%;
	display: flex;
}

.child{
	
	border: 1px solid #BABABA;
	max-width: 370px;
	width: 100%;
	padding: 15px;
	border-radius: 15px;
}
img{
	height: 70px;
	width: 70px;
	border-radius: 50%;
	object-fit: cover;
}
h3{
	color: darkblue;
}

p{
	background-color: rgb(153, 204, 255, .4);
	border-radius: 20px;
	display: block;
	color: darkblue;
	margin-top: 24px;
	padding: 10px 14px;
}

.container {
	max-width: 1200px;
	width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}

@media(max-width: 768px){
	.parent{
		justify-content: center;
	}
	.child__header{
		gap:  10px;
	}
}
